.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.idea/
.vscode/
*.iml
.DS_Store
.env
.env.*
*.db
*.db-shm
*.db-wal
*Backup*.json
*Progress_Backup*.json
key.properties
*.jks
*.keystore

.worktrees/
.worktrees

*Migration*.json

__pycache__/
*.pyc
